body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to top, #e45c5e, #86f3f3, pink);
  color: #555;
}
h1 {
  text-align: center;
}
form {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration-color: whitesmoke;
  box-sizing: border-box;
  text-align: center;
  border: black;
  border: radius 3cm;

  
  
}